<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Muslim Guide</title>
    <link href="./css/login.css" rel="stylesheet" />


</head>

<body>
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <!-- <i class="fas fa-user" aria-hidden="true"></i> -->
            <input type="text" placeholder="Username" name="username" value="">
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" name="password" value="">
        </div>
        <input class="btn" type="button" name="button" value="Sign in">
    </div>

</body>

</html>